<!-- strongly typed IEnumerable of type project-->
@model IEnumerable<ProjectScheduler.Models.Project>

@{
    ViewBag.Title = "Project Index";
}

<link type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<h2>Current Projects</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()    //rem these 2 in
        @Html.ValidationSummary(true)
    <p>

        Available Resources :Start Date: @Html.TextBox("searchFreeStartDate")
        <br />
        @if (ViewBag.AvailableResources != null)
        {
            <table>
                <tr>
                    @foreach (var item in ViewBag.AvailableResources)
                    {
                     <td>
                            <b>
                                 
                                @Html.DisplayFor(modelItem => item) &nbsp;
                            </b>
                        </td>
                    }
                </tr>
            </table>
        }
        <br />
        Project Title: @Html.TextBox("SearchString")
        <br />
        <br />
        Resource: @Html.DropDownList("projectResource", "All")      
        <br />
        <br />
        <input type="submit" value="Filter" />

    </p>
    }


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParam })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.StartDateSortParm })
        </th>
        <th>
            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.EndDateSortParm })
        </th>
        <th>
            @Html.ActionLink("Project Manager", "Index", new { sortOrder = ViewBag.PmSortParam })
        </th>
        <th>
            @Html.ActionLink("Resource", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        @*<th>
            @Html.ActionLink("date", "Index", new { sortOrder = ViewBag.dateUsed })
        </th>*@
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchFreeStartDate").datepicker({numberOfMonths:2, dateFormat: 'dd-mm-yy' });
    })
</script>

